#print {
    color: white !important;
    height: 100%;
    text-align: center;
    display:flex;
    align-items:center;
    padding: 250px;
    opacity: 0.5;
    background:url('../DLGraphics/images/basf.jpg') ;
}
#print-b{
    background-color: midnightblue;
    padding: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white !important;
}
#print-c{
    background-color: white;
    padding: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    color:black;
}
#contact{
    border-bottom: solid;

}
